*{
    padding: 0;
    margin: 0;
}

body{
    /* border: solid 1px red; */
    height: 100vh;
    width: 100vw;
    background-image: url("https://www.medtechimpact.com/wp-content/uploads/2018/05/Blog18-50.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    object-position: center center;

    /* background: linear-gradient(to right,green, cyan); */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
}


.heading{
    /* border: solid 1px red; */
    display: flex;
    margin-top: 10rem;
    padding: 1rem;
    font-size: 4.5rem;
    align-self: center;
    text-align: center;
    flex-wrap: wrap;
    background: linear-gradient(to right,rgb(141, 201, 141), cyan);
    color: rgb(0, 0, 0);
    border-radius: 1rem;
}

#start{
    /* border: solid 0.5rem rebeccapurple; */
    background: black;
    border-radius: 0.5rem;
    padding: 1rem;
    align-self: center;
    margin-top: 8rem;
    font-size: 3rem;
    color: wheat;
}

#start:hover{
    cursor: pointer;
    background: white;
    color: black;
}
.game{
    /* border: red solid; */
    width: 70vw;
}

.game .details{
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: none;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1rem;
    color: black;
    font-size: 3rem;
    padding-bottom: 0.5rem;
}

.score,
.flip_count{
    background-color: black;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: white;
}

.restart{ 
    display: none;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
    padding: 0.5rem;
    border-radius: 1rem;
}

.restart:hover{
    background-color: black;
    color: wheat; 
}

#grid{
    display: none;
    height: 60%;
    border: solid rgb(54, 30, 190);
    align-self: center;
    background-color: antiquewhite;

    border-radius: 2rem;
    flex-wrap: wrap;
    
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
}


img{
    cursor:pointer;
    width : calc(10%);
    height: calc(25%);
    border-radius: 1rem;
}

.end,
.best-score{
    color : rgb(76, 0, 255);
    display: flex;
    align-items: center;
    font-size: 2rem;
}




@media  (max-width : 700px) {

    #start{
    /* border: solid 0.5rem rebeccapurple; */
    background: black;
    border-radius: 0.5rem;
    padding: 1rem;
    align-self: center;
    font-size: 2rem;
    color: wheat;
}


    .game{
        /* border: red solid; */
    
        padding: 0;
        width: 90%;
        /* padding-top: 2rem; */
    }

    body{
        /* border: solid 1px red; */
        align-items: center;
        padding-top: 2rem;
    }

    .heading{
        /* border: solid 1px red; */
        font-size: 2rem;
        align-self: center;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        background-color: black;
        border-radius: 1rem;
    }
    img{
        width: 3rem;
        height: 3rem;
        border-radius: 0.5rem;
    }

    .score,
    .flip_count{
    background-color: antiquewhite;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: black;
    font-size: 1rem;
    }

    .restart{
        font-size: 1rem;
        padding: 0.5rem;
        margin-bottom: 1rem;
    }

    .game .details{
        display: none;  
        flex-wrap: wrap;
        gap: 0.5rem;
        justify-content: space-evenly;
        color: black;
        font-size: 2rem;
        padding: 1rem;
    }

    #grid{
        display: none;
        border: solid rgb(54, 30, 190);
        align-self: center;
        background-color: antiquewhite;
    
        border-radius: 2rem;
        flex-wrap: wrap;
        height: 100%;
        flex-basis: 2rem;
        justify-content: center;
        padding: 0.5rem;
        gap: 1rem;
    }
    
}